﻿@*@{
        ViewData["Title"] = "Index";
    }*@
<html>
<head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    @*<h2>Map</h2>*@

    ﻿
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyBVNGw7EdYnMUbaWMb6eakS66tFIrjqEfY" type="text/javascript"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>
<body>

        <style>
            #map_canvas img {
                max-width: none;
            }
        </style>

        <!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
        <style>
            .infoDiv {
                height: 200px;
                width: 300px;
                -webkit-user-select: none;
                background-color: white;
            }
        </style>

        <br />
        <!-- This is the div that will contain the Google Map -->
        <div id="map_canvas" style="height: 550px;"></div>
    
  
    <!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
        @section scripts {
            <section class="scripts">

                <script type="text/javascript">

   // <!-- This code tells the browser to execute the "Initialize" method only when the complete document model has been loaded. -->
    $(document).ready(function () {
        Initialize();
    });


    // Where all the fun happens
    function Initialize() {
        var addresses = [];
          @*addresses = @ViewBag.AddressLst;*@
            $.get("Map/MapAddresses", function (data) {
                $(".result").html(data);
                    addresses = data;
                    console.log(addresses)
                    //geocodeAddresses(addresses);
                    });

                    $.get("Map/MapTiresNames", function (data) {
                        $(".result").html(data);
                        Names = data;

                        geocodeAddresses(addresses, Names);
                    });




            // Google has tweaked their interface somewhat - this tells the api to use that new UI
              google.maps.visualRefresh = true;

        var Tunisie = new google.maps.LatLng(36.81881, 10.16596);

        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
        var mapOptions = {
            zoom: 8,
            center: Tunisie,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                    };

                    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);


                    function geocodeAddresses() {
                        for (var i = 0; i < addresses.length; i++) {
                            geocodeAddress(addresses[i],Names[i])
                        }
                    }

                    function geocodeAddress(addresses, Names) {
                        currNeme = Names
                        currAddress = addresses;

                        var infowindow = new google.maps.InfoWindow();
                        var geocoder = new google.maps.Geocoder();

                        if (geocoder) {
                            console.log(currAddress);
                            await geocoder.geocode({ 'address': currAddress }, function (results, status) {
                              
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        console.log(currAddress);

                                        var marker = new google.maps.Marker({
                                            'position': results[0].geometry.location,
                                            'map': map,
                                            'title': currAddress

                                        });
                                        //console.log(currAddress);
                                        console.log(results[0].formatted_address);


                                        var infowindow = new google.maps.InfoWindow({
                                            content: "<div class='infoDiv'><h2>" + Names + "</div></div> " + results[0].formatted_address
                                        });

                                        google.maps.event.addListener(marker, 'click', function () {
                                            infowindow.open(map, marker);
                                        });

                                        //google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                        //    return function () {
                                        //        infowindow.setContent("<div class='infoDiv'><h2>" + currAddress + "</div></div>");
                                        //        infowindow.open(map, marker);
                                        //    }
                                        //})(marker, i));



                                    }
                                    else {
                                        alert("Geocode was not successful for the following reason: " + status);
                                    }
                             

                                });
                            
                                
                            } 
               
            
                    }
                    

        // This makes the div with id "map_canvas" a google map
                    //var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);


        // a sample list of JSON encoded data of places to visit in Tunisia
        // you can either make up a JSON list server side, or call it from a controller using JSONResult
        //var data = [
        //          { "Id": 1, "PlaceName": "Zaghouan", "GeoLong": "36.401081", "GeoLat": "10.16596" },
        //          { "Id": 2, "PlaceName": "Hammamet ", "GeoLong": "36.4", "GeoLat": "10.616667" },
        //          { "Id": 3, "PlaceName": "Sousse", "GeoLong": "35.8329809", "GeoLat": "10.63875" },
        //          { "Id": 4, "PlaceName": "Sfax", "GeoLong": "34.745159", "GeoLat": "10.7613" }
        //       ];

        // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins
        //$.each(data, function (i, item) {
        //    var marker = new google.maps.Marker({
        //        'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
        //        'map': map,
        //        'title': item.PlaceName
        //    });

            // Make the marker-pin blue!
        //    marker.setIcon('http://maps.google.com/mapfiles/ms/micons/mechanic.png')

        //    // put in some information about each json object - in this case, the opening hours.
        //    var infowindow = new google.maps.InfoWindow({
        //        content: "<div class='infoDiv'><h2>" + item.PlaceName + "</div></div>"
        //    });

        //    // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
        //    google.maps.event.addListener(marker, 'click', function () {
        //        infowindow.open(map, marker);
        //    });

        //})
    }


                </script>
            </section>
        }
        </body>
</html>


